.containerSearch{
    display: flex;
    justify-content: center;

}

.containerInput{
    padding: 3rem;
    margin-top: 3rem;
    background-color: #60B5FC;
    border-radius: 0.5rem;
}

.input{
    padding: 1rem;
    width:40rem;
    border-radius: 0.5rem;
    border-color: #ccc !important;
}


.label{
    font-size: 14px;
}